1. Load heart disease dataset in pandas dataframe
2. Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3
3. Convert text columns to numbers using label encoding and one hot encoding
4. Apply scaling
5. Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy
6. Now use PCA to reduce dimensions, retrain your model and see what impact it has on your model in terms of accuracy. Keep in mind that many times doing PCA reduces the accuracy but computation is much lighter and that's the trade off you need to consider while building models in real life

In [1]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
from scipy import stats

In [2]:
df = pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [4]:
z_scores = np.abs(stats.zscore(df[['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak', 'HeartDisease']]))
non_outlier_mask = (z_scores < 3) & (z_scores > -3) 
df1 = df[non_outlier_mask]
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1 = df1.copy()
for col in ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina',	'ST_Slope']:
    df1[col] = le.fit_transform(df1[col])

In [22]:
X=df1.iloc[:, :11]
y = df1['HeartDisease']
X

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,1,140,289,0,1,172,0,0.0,2
0,40,1,1,140,289,0,1,172,0,0.0,2
0,40,1,1,140,289,0,1,172,0,0.0,2
0,40,1,1,140,289,0,1,172,0,0.0,2
0,40,1,1,140,289,0,1,172,0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...
917,38,1,2,138,175,0,1,173,0,0.0,2
917,38,1,2,138,175,0,1,173,0,0.0,2
917,38,1,2,138,175,0,1,173,0,0.0,2
917,38,1,2,138,175,0,1,173,0,0.0,2
917,38,1,2,138,175,0,1,173,0,0.0,2

In [23]:
y

0      0
0      0
0      0
0      0
0      0
      ..
917    0
917    0
917    0
917    0
917    0
Name: HeartDisease, Length: 6407, dtype: int64

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
X

array([[-1.43243808,  0.5159511 ,  0.22840603, ..., -0.82347053,
        -0.8353235 ,  1.05074432],
       [-1.43243808,  0.5159511 ,  0.22840603, ..., -0.82347053,
        -0.8353235 ,  1.05074432],
       [-1.43243808,  0.5159511 ,  0.22840603, ..., -0.82347053,
        -0.8353235 ,  1.05074432],
       ...,
       [-1.64451015,  0.5159511 ,  1.27443707, ..., -0.82347053,
        -0.8353235 ,  1.05074432],
       [-1.64451015,  0.5159511 ,  1.27443707, ..., -0.82347053,
        -0.8353235 ,  1.05074432],
       [-1.64451015,  0.5159511 ,  1.27443707, ..., -0.82347053,
        -0.8353235 ,  1.05074432]], shape=(6407, 11))

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=30)

In [ ]:
from sklearn.svm import SVR
model =